nav,footer.page-footer{
    /*background-color: rgba(243, 177, 78, 0.91);*/
}
nav .brand-logo {
    padding-left: 120px;
}
.slider-style{
	height:400px;
}
.margin-top-1ps{
    margin-top:1vw;
}
.margin-top-2ps{
	margin-top:2vw;
}
.margin-top-6ps{
    margin-top:6vw;
}
.padding-bottom-6ps{
    padding-bottom: 6px !important;
}
.label{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.logo{
	width: 15%;
}
.tab-style{
    border: 1.8px solid #B3B3B3;
    border-radius: 12px;
}
.margin-reset{
        display: block;
    margin: 0 auto;
    padding: 0;
}
.col.offset-l1.l10.slider-stye.card {
    padding: 12px;
}